<h1> Song Name: <%= @song.name %> </h1>
<h2> Genre Name: <%= link_to @song.genre.name, genre_path(@song.genre) %> </h2>
<h2> Artist Name: <%= link_to @song.artist.name, artist_path(@song.artist) %> </h2>